build/
out/
target/
release/
release.tar.gz
!.mvn/wrapper/maven-wrapper.jar
!src/main/java
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/.apt_generated_tests/
/.idea/

api/config-cache/example-file-api/config-cache/

api/logs/

mysql/data/

# 前端构建产物
web/dist/